.HeaderBox {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  border: solid rgba(255, 255, 255, 0.456) 3px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 40px;
}

.TitleBox {
  width: min-content;
  text-align: left;
  margin: 15px 10px;
}

.ScoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 5px 30px;
  margin: 10px 15px;
}

.ScoreTitle {
  font-size: 12px;
  color: blue;
  margin: 0;
}

.ScoreCount {
  font-size: 30px;
  font-weight: bold;
  color: gray;
  margin: 0;
}
